.button {
  height: 48px;
  width: 198px;
  border-radius: 24px;
  background: linear-gradient(90deg, #ff005a 0%, #ff7600 98.22%);
  box-shadow: 0 2px 4px 0 rgba(255, 118, 0, 0.24);
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border: none;
  cursor: pointer;
}
