.container {
  background-color: #00bdba;
  height: 500px;
  width: 100%;
  padding-left: 160px;
  padding-right: 160px;
  display: flex;
}

.heroDescription {
  flex: 1;
  max-width: 650px;
}

.mainHeading {
  color: #ffffff;
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
  margin-top: 60px;
}

.subHeading {
  color: #ffffff;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.blankSpace {
  flex: 1;
}
