.container {
  height: 256px;
  width: 100%;
  background-color: #03cccb;
  padding-top: 64px;
}

.message {
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  margin-bottom: 32px;

  @include mobile {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}
