.container {
  display: flex;
  max-width: 1120px;
  margin: 20px auto;

  @include mobile {
    padding: 0 20px;
  }
}

.labelContainer {
  flex: 2;

  @include mobile {
    flex: 1;
    margin-right: 20px;
  }
}

.linksContainer {
  flex: 1;
  display: flex;

  @include mobile {
    justify-content: flex-end;
  }
}

.link {
  color: #243a53;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-decoration: none !important;
}

.linkWrapper {
  flex: 1;
  align-self: center;

  @include mobile {
    display: none;
    flex: 0;
  }
}

.button {
  flex: 2;

  @include mobile {
    width: fit-content;
    max-height: 40px;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.logo {
  margin-bottom: 0;
}
