.container {
  display: flex;
  margin: 15px 160px;

  @include mobile {
    padding: 0 20px;
  }
}

.labelContainer {
  flex: 2;
}

.linksContainer {
  flex: 1;
  display: flex;

  @include mobile {
    justify-content: flex-end;
  }
}

.link {
  color: #243a53;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-decoration: none !important;
}

.linkWrapper {
  flex: 1;
  align-self: center;

  @include mobile {
    display: none;
    flex: 0;
  }
}

.button {
  flex: 2;

  @include mobile {
    max-width: 143px;
  }
}
