.container {
  background-image: url("../../../styles/images/HeroBackground.png");
  height: 500px;
  width: 100%;
  padding: 0 160px;
  display: flex;

  @include mobile {
    padding: 20px;
    width: vw;
    height: 450px;
  }
}

.heroDescription {
  flex: 1;
  max-width: 650px;

  @include mobile {
    max-width: vw;
  }
}

.mainHeading {
  color: #ffffff;
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
  margin-top: 60px;

  @include mobile {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
}

.subHeading {
  color: #ffffff;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  margin-top: 24px;
  margin-bottom: 24px;

  @include mobile {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }
}

.buttonContainer {
  display: flex;

  @include mobile {
    align-items: center;
    justify-content: center;
  }
}
