.title {
  color: #243a53;
  font-size: 44px;
  font-weight: bold;
  line-height: 48px;
  text-align: center;
  margin-bottom: 40px;

  @include mobile {
    line-height: 32px;
    font-size: 28px;
    margin-bottom: 20px;
  }
}

.container {
  max-width: 1120px;
  margin: 120px auto;

  @include mobile {
    padding: 0 20px;
    margin: 80px auto;
  }
}

.imagesContainer {
  flex: 1;

  @include mobile {
    display: none;
  }
}

.description {
  flex: 1;
  color: #243a53;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  a {
    color: #03cccb;
    text-decoration: none;
    cursor: pointer;
  }

  @include mobile {
    font-size: 14px;
    line-height: 20px;
  }
}

.innerContainer {
  display: flex;

  @include mobile {
    flex-direction: column;
  }
}

.button {
  border: 2px solid #00a4a0;
  border-radius: 24px;
  width: fit-content;
  background-color: #ffffff !important;
  color: #00a4a0;
  box-shadow: none;
  background: none;

  @include mobile {
    width: 100%;
    max-height: 40px;
    font-size: 14px;
    font-weight: 500;
  }
}

.link {
  color: #03cccb;
}

.primaryImage {
  margin-top: 60px;
}

.secondaryImage {
  position: relative;
  top: -120px;
  margin-bottom: 0;
  left: 250px;
}

a{
  box-shadow: none;

  &:hover{
    text-decoration: underline;
  }
}
