.container {
  margin: 0 auto -50px;
  display: flex;
  max-width: 1120px;
  position: relative;
  top: -50px;

  @include mobile {
    max-width: 100%;
    flex-direction: column;
    padding: 0 20px;
    align-items: stretch;
  }

  div {
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    padding: 32px;
    flex: 1;
    margin-right: 32px;
    color: #243a53;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    p {
      margin-bottom: 0;
      font-family:'Montserrat',sans-serif;
    }


    @include mobile {
      padding: 20px;
      margin-bottom: 16px;
      width: 100%;
      line-height: 20px;
      font-size: 14px;
      min-height: 140px;
    }
  }
}

.lastTile {
  margin-right: 0;
}

div:empty {
  visibility: hidden;

  @include mobile{
    display: none;
  }
}
