// Base UiColor

$teal: #03cccb; // brand color, button
$teal-hover: #23dbda;
$teal-active: #00bdba;
$teal-dark: #009077; // link, tab, cta
$teal-light: #e8f3f0;
$teal-disabled: #9bd4c5;
$teal-bg: #e8f3f0; // notification or message background

$orange: #f5764f; // cta color, button
$orange-dark: #dc6946;
$orange-disabled: #f5b5a2;
$orange-lighter: #ff7600;

$red: #ff2e37;
$red-hover: #fa5359;
$red-active: #df201e;

$blue-dark: #2b4764; // button & headings
$blue-dark-hover: #54789c;
$blue-dark-active: #082b4b;

$beige: #f9ebd3;
$green: #18b142;
$magenta: #ff0153;
$magenta-dark: #ff005a;

$gray-extra-dark: #222; // shouldn't be used
$gray-dark: #222;
$gray: #555;
$gray-light: #777;
$gray-lighter: #b8b8b8;
$gray-lightest: #e8e8e8;
$gray-extra-light: #f5f5f5;
$gray-lighter-shade: #d6dfe3;

$silver: #eff5f7;

$text-blue-extra-dark: #323c47;
$text-blue-dark: #2b4865;
$text-blue-light: #6a7e92;
$text-blue-lighter: #59748f;
$text-blue: #506477;
$text-blue-extra-light: #8d9dad;
$blue-background-light: #f1f5f7;
$bright-yellow: #ff0;
$mustard-yellow: #ffcd00;
$blue-lighter-shade: #a1b1b9;

// transfer page
$text-blue-very-dark: #13293f;
$text-blue-very-light: #4c667f;
