@mixin users-table {
  background-color: #fff;

  tbody tr {
    border-top: 1px solid $gray-lightest;

    &:last-of-type {
      border-bottom: 1px solid $gray-lightest;
    }

    td {
      height: 80px;
      vertical-align: middle;
      line-height: 1.2;

      &:last-of-type {
        padding-right: 1em;
      }
    }
  }

  tbody tr:hover {
    background-color: transparent;
  }
}

@mixin users-table-avatar-data {
  $avatar-radius: 45px;

  width: $avatar-radius + 20;
  text-align: center;

  img {
    box-sizing: content-box;
    border-radius: 50%;
    width: $avatar-radius;
    height: $avatar-radius;
  }
}

@mixin users-table-user-name {
  color: $teal;
}

@mixin users-table-secondary-text {
  font-size: 12px;
}

@mixin users-table-actions-data {
  text-align: right;

  span {
    vertical-align: middle;
  }
}
